.list-custom {
  color: #fff;
  background: $main;
  border: 1px solid #fff;
}

.inner-circle {
  width: 16px;
  height: 16px;
}
.inner-circle {
  width: 16px;
  height: 16px;
}

.outer-circle,
.process-item {
  width: 24px;
  height: 24px;
}


.line{
  width: 68px;
  height: 1px;
  background: #ccc;
}

.fa-check{
  margin-left: 3px;
}